:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    background-color: #f5c876;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    height: 100svh;
    max-height: 100svh;
    cursor: url("./assets/mouse.png") 16 4, pointer;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button, label[tabindex] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    user-select: none;
}

:is(button, label[tabindex]):hover {
    border-color: #646cff;
}

:is(button, label[tabindex]):is(:focus,:focus-visible) {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    flex: 1;
    text-align: center;
    display: grid;
    grid-template-rows: auto 3rem 1fr 3rem auto;
    gap: 0.5rem;
    padding: 0.5rem;
}

h1, h2, p {
    margin: 0;
}